<div class="container-fluid">
    <div class="row p-4">
        <ul class="nav nav-tabs" id="nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" id="active" href="#profildata" (click)="selectTab('profildata')">Adataim</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#myorders" (click)="selectTab('myorders')">Rendeléseim</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#myopinion" (click)="selectTab('myopinion')">Értékeléseim</a>
            </li>
          </ul>
          
          <div [ngSwitch]="activeTab">
            <app-profil-data *ngSwitchCase="'profildata'"></app-profil-data>
            <app-my-orders *ngSwitchCase="'myorders'"></app-my-orders>
            <app-my-opinion *ngSwitchCase="'myopinion'"></app-my-opinion>
          </div> 
    </div>
</div>
