<div class="row">
    <div class="col text-center">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Általános szerződési feltételek</li>
            <li class="list-group-item">Gyakran ismételt kérdések</li>
            <li class="list-group-item">Adatkezelési tájékoztató</li>
            <li class="list-group-item">Szállítási infrmációk</li>
            <li class="list-group-item">Fizetési információk</li>
            <li class="list-group-item">Kapcsolat</li>
        </ul>
    </div>
    <div class="col border-start border-dark">
        <a href="mailto:contact@elitecarpets.hu">
            <div class="row py-5">
                <div class="col-4 fs-1 text-center">
                    Lépj velünk kapcsolatba!
                </div>
                <div class="col-4">
                    <img src="../../assets/icon/outline_textsms_white_48dp.png" alt="">
                </div>    
            </div>
        </a>
    </div>
</div>