<div class="container-fluid">
    <div class="row mt-5">
        <div class="col text-center">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a class="link-underline link-underline-opacity-0 text-white" href="" data-bs-toggle="modal" data-bs-target="#aszfModal">Általános szerződési feltételek</a></li>
                <li class="list-group-item"><a class="link-underline link-underline-opacity-0 text-white" href="" data-bs-toggle="modal" data-bs-target="#gyikModal">Gyakran ismételt kérdések</a></li>
                <li class="list-group-item"><a class="link-underline link-underline-opacity-0 text-white" href="" data-bs-toggle="modal" data-bs-target="#adatModal">Adatkezelési tájékoztató</a></li>
                <li class="list-group-item"><a class="link-underline link-underline-opacity-0 text-white" href="" data-bs-toggle="modal" data-bs-target="#szallitasModal">Szállítási információk</a></li>
                <li class="list-group-item"><a class="link-underline link-underline-opacity-0 text-white" href="" data-bs-toggle="modal" data-bs-target="#fizetesModal">Fizetési információk</a></li>
                <li class="list-group-item"><a class="link-underline link-underline-opacity-0 text-white" href="" data-bs-toggle="modal" data-bs-target="#contactModal">Kapcsolat</a></li>
            </ul>
        </div>
        <div class="col border-start border-dark">
            <a href="mailto:elitecarpetskft@gmail.com">
                <div class="row py-5">
                    <div class="col-4 fs-1 text-center">
                        Lépj velünk kapcsolatba!
                    </div>
                    <div class="col-4">
                        <img src="../../assets/icon/outline_textsms_white_48dp.png" alt="">
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<app-terms-conditions></app-terms-conditions>
<div class="modal fade" id="gyikModal" tabindex="-1" aria-labelledby="gyikModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="gyikModalLabel">Gyakran Ismételt Kérdések</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5>1. Hogyan rendelhetek a webáruházban?</h5>
                <p>
                    A webáruházban történő rendelés menete a következő: Válassza ki a kívánt terméket. Adja meg a termék mennyiségét. Tegye a terméket a kosárba. Ellenőrizze a kosár tartalmát.
                    Válassza ki a szállítási és fizetési módot. Adja meg a szállítási és számlázási adatokat. Fogadja el az ÁSZF-et. Véglegesítse a rendelést.
                </p>
                <h5>2. Mennyi a szállítási díj?</h5>
                <p>A szállítás ingyenes</p>
                <h5>3. Milyen fizetési módok közül választhatok?</h5>
                <p>Online bankkártyás fizetés, utánvét.</p>
                <h5>4. Mit tehetek, ha nem vagyok megelégedve a termékkel?</h5>
                <p>A termékkel kapcsolatos panaszát a Szolgáltatóhoz írásban, e-mailben vagy postai úton nyújthatja be. A Szolgáltató a panaszt a beérkezéstől számított 30 napon belül köteles megvizsgálni és írásban válaszolni a Vevőnek.</p>
                <h5>5. Hol találom az ÁSZF-et?</h5>
                <p>Az ÁSZF a webáruház alján található.</p>  
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Rendben</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="adatModal" tabindex="-1" aria-labelledby="adatModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="adatModalLabel">Adatkezelési Tájékoztató</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5>1. Bevezetés</h5>
                <p>Jelen Adatkezelési Tájékoztató (a továbbiakban: Tájékoztató) célja, hogy tájékoztassa az EliteCarpets Webáruház (a továbbiakban: Webáruház) Látogatóit és Vevőit 
                    (a továbbiakban együttesen: Érintettek) az Adatkezelő által a Webáruházban történő adatkezelésről, az Érintettek jogairól és az adatkezeléssel kapcsolatos gyakorlatról.</p>
                <h5>2. Az Adatkezelő adatai:</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Név: EliteCarpets Kft.</li>
                    <li class="list-group-item">Székhely: 8609 Siófok, Kárpát utca 57.</li>
                    <li class="list-group-item">Adószám: 12180439-2-41</li>
                    <li class="list-group-item">Cégjegyzékszám: 01-09-562739</li>
                    <li class="list-group-item">Kapcsolattartó: Markó Tamás</li>
                    <li class="list-group-item">E-mail cím: elitecarpetskft@gmail.com</li>
                    <li class="list-group-item">Telefonszám: +36-84-311-317</li>
                </ul>
                <h5>3. Az adatkezelés célja:</h5>
                <p>Az Adatkezelő a Webáruházban történő vásárlások lebonyolítása, a Látogatók és Vevők azonosítása, a kapcsolatfelvétel, a hírlevél küldése, a Webáruház fejlesztése, 
                    a szolgáltatások minőségének javítása, a jogszabályi kötelezettségek teljesítése céljából kezeli az Érintettek adatait.</p>
                <h5>4. Az adatkezelés jogalapja:</h5>
                <p>Az adatkezelés jogalapja a Látogatók és Vevők önkéntes hozzájárulása, a szerződés teljesítése, a jogszabályi kötelezettség teljesítése, illetve az Adatkezelő jogos érdeke.</p>
                <h5>5. A kezelt adatok köre:</h5>
                <p>Az Adatkezelő a következő adatokat kezeli az Érintettektől: Név, E-mail cím, Telefonszám, Szállítási cím, Számlázási cím, Megrendelés adatai</p>
                <h5>6. Az adatkezelés időtartama:</h5>
                <p>Az Adatkezelő a Látogatók adatait a Webáruház böngészése során kezeli, a Vevők adatait a vásárlás lebonyolítását követően 5 évig tárolja.</p>
                <h5>7. Adatbiztonság:</h5>
                <p>Az Adatkezelő gondoskodik az Érintettek adatainak biztonságáról, megteszi a szükséges technikai és szervezési intézkedéseket az adatok védelme érdekében.</p>
                <h5>8. Az Érintettek jogai:</h5>
                <p>Az Érintetteknek joga van: Hozzáférni az őket érintő személyes adatokhoz; Kérni az adatok helyesbítését; Kérni az adatok törlését; Korlátozni az adatkezelést; 
                    Tiltakozni az adatkezelés ellen; Adatkezelésükre vonatkozóan panaszt benyújtani a Nemzeti Adatvédelmi és Információszabadság Hatósághoz (NAIH)</p>
                <h5>9. Adattovábbítás:</h5>
                <p>Az Adatkezelő az Érintettek adatait a következő harmadik feleknek továbbítja: Szállítmányozó cég, Számlavezető bank</p>
                <h5>10. Kapcsolatfelvétel</h5>
                <p>Az Érintettek az Adatkezelővel az alábbi elérhetőségeken vehetik fel a kapcsolatot adatkezeléssel kapcsolatos kérdéseikkel, illetve jogaik gyakorlása érdekében: +36-84-311-317 
                    vagy elitecarpetskft@gmail.com
                </p>
                <h5>11. Frissítés</h5>
                <p>Az Adatkezelő fenntartja a jogot, hogy jelen Adatkezelési Tájékoztatót módosítsa. A módosított Adatkezelési Tájékoztató a Webáruházban történő közzétételét követően lép hatályba.</p>
                <h5>12. Üzemeltető adatai</h5>
                <p>Az Adatkezelési Tájékoztatásban meg nem jelölt, az Adatkezelő azonosításához szükséges adatokat az Adatkezelő székhelyén vagy a Webáruház felületén az Általános Szerződési Feltételek alatt megtalálhatja.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Rendben</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="szallitasModal" tabindex="-1" aria-labelledby="szallitasModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="szallitasModalLabel">Szállítási információk</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5>Szállítási módok:</h5>
                <p>A Webáruházban a következő szállítási módok közül választhat:</p>
                <p><b>Házhozszállítás:</b> A FoxPost futárszolgálattal történő házhozszállítás a megrendelést követő 1-2 munkanapon belül történik.</p>
                <p><b>FoxPost Csomagpont:</b> A FoxPost csomagautomatába történő kiszállítás a megrendelést követő 1-2 munkanapon belül történik.</p>
                <h5>Szállítási díj:</h5>
                <p>A szállítási díj jelenleg ingyenes.</p>
                <h5>Csomagkövetés:A futárszolgálat a csomagkövetéshez szükséges azonosítót e-mailben küldi el. A csomag nyomonkövetése az azonosító megadásával a futárszolgálat honlapján érhető el.</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Rendben</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="fizetesModal" tabindex="-1" aria-labelledby="fizetesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="fizetesModalLabel">Fizetési információk</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <h5>Fizetési módok:</h5>
            <p>A Webáruházban a következő fizetési módok közül választhat:</p>    
            <p><b>Bankkártyás fizetés:</b> A megrendelést online bankkártyával is kifizetheti a SimplePay felületén. A SimplePay a Magyar Nemzeti Bank felügyelete alatt álló elektronikus fizetési szolgáltató. A bankkártyás fizetéshez nem szükséges regisztráció, a fizetéshez elegendő megadni a bankkártya adatait.</p>    
            <p><b>Utánvét:</b> A megrendelés értékét a FoxPost futárnak kell kifizetnie a csomag kézbesítésekor vagy átveteli pont esetén az átvevőhelyen, készpénzben vagy bankkártyával.</p>    
            <h5>Fizetés menete:</h5>
            <p>A bankkártyás fizetés esetén a megrendelés leadása után átirányítjuk a SimplePay felületére, ahol megadhatja a bankkártya adatait. A fizetés sikeres befejezése után visszairányítjuk a Webáruházba.</p>    
            <p>Utánvét esetén a házhozszállításkor a futárnak kell fizetnie, csomagátvételi pont esetén pedig az átvevőponton.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Rendben</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="cntactModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="contactModalLabel">Kapcsolat</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Név: EliteCarpets Kft.</li>
                    <li class="list-group-item">Székhely: 8609 Siófok, Kárpát utca 57.</li>
                    <li class="list-group-item">Adószám: 12180439-2-41</li>
                    <li class="list-group-item">Cégjegyzékszám: 01-09-562739</li>
                    <li class="list-group-item">Kapcsolattartó: Markó Tamás</li>
                    <li class="list-group-item">E-mail cím: elitecarpetskft@gmail.com</li>
                    <li class="list-group-item">Telefonszám: +36-84-311-317</li>
                </ul>    
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Rendben</button>
            </div>
        </div>
    </div>
</div>