<div class="container-fluid">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-5">
            <div class="card shadow">
                <div class="card-body">
                    <form>
                        <div class="text-center">
                            <p> A linket elküldtük a megadott e-mail címre, kérjük ellenőrizze majd jelentkezzen be</p> 
                        </div> 
  
                        <div class="text-center p-2">
                            <a routerLink="/userlogin" style="color: grey">Belépés</a>
                        </div>
                      </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
  </div>