.checkoutContainer {
    background-color: #212529;
    padding-top: 3%;
}

.sectionContainer {
    padding-left: 1%;
}
.sectionContainer:not(:last-child) {
    border-bottom: 1px solid #ff0079;
}

.sectionHeader {
    color: #ff0079;
}

.textWhite {
    color: white;
}

.formCheck {
    accent-color: #ff0079;
    margin-right: 1%;
}

.formInputField {
    border: 1px solid #ff0079;
    background-color: transparent;
    font-style: italic;
    color: #ff0079;
}

.myLink {
    color: #ff0079;
}

#orderButton {
    border: #ff0079 solid 2px;
    border-radius: 10px;
    margin: 10px;
    color: #ff0079;
}

#orderButton:hover {
    box-shadow: 0 0 25px #ff0079;
    background-color: #ff007748;
    text-shadow: 0 0 15px #ff0079;
}

#packetPointContainer {
    background-color: #ff007725;
    margin-right: 3px;
    border: #ff0079 solid 2px;
    border-radius: 15px;
    box-shadow: 0 0 25px #ff0079;
}