#offcanvasCart {
    background-color: rgba(33,37,41,1);
    border-left: 1px solid #ff0079;
    box-shadow: 0 0 10px #ff0079;
    color: white;
}

#listHeaderContainer {
    border-image: linear-gradient(45deg, darkblue, darkorchid) 1;
    border-bottom: 3px solid;
}

.productRow {
    border-image: linear-gradient(45deg, darkblue, darkorchid) 1;
    border-bottom: 1.5px solid;
}

.myProdButtons {
    border-bottom: 1px solid;
    border-image: linear-gradient(45deg, darkblue, darkorchid) 1;
    font-size: 1rem;
    color: darkorchid;
    font-weight: bold;
}

#prodButtonContainer>button:hover {
    box-shadow: 5px -5px 10px darkorchid, -5px 5px 10px darkblue;
}

#backButton {
    border-bottom: 1px solid;
    border-image: linear-gradient(45deg, darkblue, darkorchid) 1;
    font-size: 1rem;
    color: darkorchid;
    font-weight: bold;
    margin-bottom: 10px;
}

#backButton:hover {
    box-shadow: 5px -5px 10px darkorchid, -5px 5px 10px darkblue;
    border-width: 3px;
}

#checkoutButton {   
    --ang: 0deg;
    border-bottom: 1px solid;
    border-image: linear-gradient(45deg, rgba(33,37,41,1), #ff0079) 1;
    animation: 3s rotate linear infinite;
    font-size: 1rem;
    color: #ff0079;
    font-weight: bold;
}

@keyframes rotate {
    to {
      --ang: 360deg;
    }
}
@property --ang {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

#checkoutButton:hover {
    border-width: 3px;
    box-shadow: 5px -5px 10px #ff0079, -5px 5px 10px rgba(33,37,41,1);
    background-color: #ff007748;
    border-image: linear-gradient(var(--ang), rgba(33,37,41,1), #ff0079) 1;
    
}