<div class="container-fluid">
  <div class="row mt-5">
      <div class="col"></div>
      <div class="col-4">
          <div class="card shadow">
              <div class="card-body">
                  <form>
                      <div class="mb-3">
                          <div class="text-dark text-muted">Login</div>
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputEmail" class="form-label">Email</label>
                        <input type="email" class="form-control" name="email" [(ngModel)]="email">
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" [(ngModel)]="password">
                      </div>
                      <button type="button" class="btn btn-info" (click)="login()">Belépés</button>
                      <div class="row">
                          <div class="col-6">
                              <a routerLink="/usersignup" style="text-decoration: none;">Még nincs fiókja? <span class="text-danger">Regisztráció</span></a>
                          </div>
                          <div class="col-md-6">
                              <a routerLink="/forgetPassword" class="text-dark" style="text-decoration: none;">Elfelejtettem a jelszavam</a>
                          </div>
                      </div>
                    </form>
              </div>
          </div>
      </div>
      <div class="col"></div>
  </div>
</div>