<div class="row headerRow">
    <a (click)="scrollToBottom()" class="likeAButton" id="topScroll">Le a Frissekhez</a>
</div>
<div class="row headerRow">
    <div class="col headerText">ID</div>
    <div class="col headerText">Felhasználó e-mail</div>
    <div class="col headerText">Termék ID</div>
    <div class="col headerText">Pontszám</div>
</div>

<div class="row dataContainer">
    <div class="row dataRow" *ngFor="let rating of ratingsArray">
        <div class="row">
            <input disabled class="col dataField" type="text" [value]="rating.key">
            <input disabled class="col dataField" type="text" [value]="rating.useremail">
            <input disabled class="col dataField" type="text" [value]="rating.productId">
            <input disabled class="col dataField" type="text" [value]="rating.rating">
        </div>
        <div class="row pt-1">
            <textarea disabled class="col dataField" type="text" [value]="rating.text"></textarea>
            <div class="col">
                <button class="modifyButton" id="modifyButton" (click)="modifyRating(rating)">Cenzúrázás</button>
            </div>
        </div>
    </div>
    <div id="bottom" class="pb-5">
        <a (click)="scrollToTop()" class="likeAButton">Az oldal tetejére</a>
    </div>
</div>
