<div class="row dataContainer" id="header">
    <div class="row dataRow">
        <div class="row">
            <h5 class=" fw-bold title">Személyes adatok</h5>
            <input disabled class="col dataField" type="hidden" [value]="user.key">
            <span class="fw-bold p-1">Név</span>
            <input class="dataField" type="text" [(ngModel)]="user.name">
            <span class="fw-bold p-1">E-mail cím</span>
            <input disabled class="col dataField" type="text" [value]="user.email">
            <span class="fw-bold p-1">Telefonszám</span>
            <input class="dataField" type="text" [(ngModel)]="user.phone">
            <span class="fw-bold p-1">Város</span>
            <input class="dataField" type="text" [(ngModel)]="user.city">
            <span class="fw-bold p-1">Cím</span>
            <input class="dataField" type="text" [(ngModel)]="user.address">
            <span class="fw-bold p-1">Irányítószám</span>
            <input class="dataField" type="text" [(ngModel)]="user.zipCode">
    
            <div class="p-3">
                <button class="myButton" id="modifyButton" (click)="modifyUser(user)">Adatok módosítása</button>
            </div>

            <div *ngIf="message" class="alert" [ngClass]="{'alert-success': messageType === 'success', 'alert-danger': messageType === 'error'}">
                {{ message }}
              </div>
        </div>
    </div>
</div>
