<div class="row headerRow pb-2">
    <div class="row">
        <h5>Új termék hozzáadása <button (click)="postProduct()" class="btn myButton" id="postButton">Hozzáadás</button></h5>
    </div>
    <div class="col form-group">
        <label for="newnev">Termék neve:</label>
        <input class="dataField input" type="text" id="newnev" [(ngModel)]="newProduct.nev" name="newnev">
    </div>
    <div class="col form-group">
        <label for="newdb">Darabszám:</label>
        <input class="dataField input" type="number" id="newdb" [(ngModel)]="newProduct.db" name="newdb">
    </div>
    <div class="col form-group">
        <label for="newuj_ar">Ár:</label>
        <input class="dataField input" type="number" id="newuj_ar" [(ngModel)]="newProduct.uj_ar" name="newuj_ar">
    </div>
    <div class="col form-group">
        <label for="newlathato">Látható 1-igen, 0-nem:</label>
        <input class="dataField input" type="number" id="newlathato" [(ngModel)]="newProduct.lathato" name="newuj_ar" min="0" max="1">
    </div>
    <div class="col form-group">
        <label for="newanyag">Anyag:</label>
        <select class="dataField input" [(ngModel)]="newProduct.anyag" name="newanyag" id="newanyag">
            <option class="black" *ngFor="let value of props.anyag" [value]="value">{{value}}</option>
        </select>
    </div>
    <div class="col form-group">
        <label for="newmintazat">Mintázat:</label>
        <select class="dataField input" [(ngModel)]="newProduct.mintazat" name="newmintazat" id="newmintazat">
            <option class="black" *ngFor="let value of props.mintazat" [value]="value">{{value}}</option>
        </select>
    </div>
    <div class="col form-group">
        <label for="newmeret">Méret:</label>
        <select class="dataField input" [(ngModel)]="newProduct.meret" name="newmeret" id="newmeret">
            <option class="black" *ngFor="let value of props.meret" [value]="value">{{value}}</option>
        </select>
    </div>
    <div class="col form-group">
        <label for="newszin">Szín:</label>
        <select class="dataField input" [(ngModel)]="newProduct.szin" name="newszin" id="newszin">
            <option class="black" *ngFor="let value of props.szin" [value]="value">{{value}}</option>
        </select>
    </div>
    <div class="col form-group">
        <label for="newszalmagassag">Szálmagasság:</label>
        <select class="dataField input" [(ngModel)]="newProduct.szalmagassag" name="newszalmagassag" id="newszalmagassag">
            <option class="black" *ngFor="let value of props.szalmagassag" [value]="value">{{value}}</option>
        </select>
    </div>
    <div class="col form-group">
        <label for="newvastagsag">Vastagság:</label>
        <select class="dataField input" [(ngModel)]="newProduct.vastagsag" name="newvastagsag" id="newvastagsag">
            <option class="black" *ngFor="let value of props.vastagsag" [value]="value">{{value}}</option>
        </select>
    </div>
    <div class="col form-group">
        <label for="newstilus">Stílus:</label>
        <select class="dataField input" [(ngModel)]="newProduct.stilus" name="newstilus" id="newstilus">
            <option class="black" *ngFor="let value of props.stilus" [value]="value">{{value}}</option>
        </select>
    </div>
    <div class="col form-group">
        <label for="newcategory">Kategória:</label>
        <select class="dataField input" [(ngModel)]="newProduct.category" name="newcategory" id="newcategory">
            <option class="black" *ngFor="let value of categories" [value]="value">{{value}}</option>
        </select>
    </div>
</div>
<div class="row headerRow">
    <input [(ngModel)]="searchArgs" type="text" placeholder="Írd be a termék nevét vagy válaszd ki a listából" class="mb-1"> 
    <div class="container">
        <ul class="list-group list-group-horizontal mb-1">
            <li *ngFor="let cat of categories; let i=index" class="list-group-item listItem"
            [ngClass]="i==activeCategory? 'selectedListItem': ''" (click)="changeActiveCategory(i)">{{cat}}</li>
        </ul>
    </div>
</div>
<div class="row">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item listButton"><button [disabled]="choosenProduct.key == 0" class="btn myListButton" id="modifyButtton" (click)="modifyProduct()">Módosítás</button></li>
                <li class="list-group-item listButton"><button [disabled]="choosenProduct.key == 0" class="btn myListButton" id="deleteButton" (click)="deleteProduct()">Törlés</button></li>
                <li class="list-group-item listButton">
                    <label for="qtyplus" class="white">+ DB: </label>
                    <input [disabled]="choosenProduct.key == 0" class="dataField input w-25" type="text" id="qtyplus" [(ngModel)]="plusQty" name="qtyplus">
                    <button [disabled]="choosenProduct.key == 0 || plusQty == 0" class="btn myListButton" id="qtyButton" (click)="qtyPlus()">Hozzáadás</button>
                </li>
            </ul>
</div>
<div class="row dataRow">
    <div class="col col-sm-3">
        <li *ngFor="let prod of showedProducts|search:searchArgs" class="list-group-item listItem" (click)="setChoosenProduct(prod)">{{prod.nev}}</li>
    </div>
    <div class="col col-sm-4">
        <div class="form-group formRow">
            <label for="key" class="white">Key:</label>
            <input disabled class="dataField" type="text" id="key" [(ngModel)]="choosenProduct.key" name="key">
        </div>
        <div class="form-group formRow">
            <label for="nev" class="white">Termék neve:</label>
            <input class="dataField input" type="text" id="nev" [(ngModel)]="choosenProduct.nev" name="nev">
        </div>
        <div class="form-group formRow">
            <label for="db" class="white">Darabszám:</label>
            <input class="dataField input" type="number" id="db" [(ngModel)]="choosenProduct.db" name="db">
        </div>
        <div class="form-group formRow">
            <label for="uj_ar" class="white">Ár:</label>
            <input class="dataField input" type="number" id="uj_ar" [(ngModel)]="choosenProduct.uj_ar" name="uj_ar">
        </div>
        <div class="form-group formRow">
            <label for="lathato" class="white">Látható 1-i, 0-n:</label>
            <input class="dataField input" type="number" id="lathato" [(ngModel)]="choosenProduct.lathato" name="lathato" min="0" max="1">
        </div>
        <div class="form-group formRow">
            <label for="anyag" class="white">Anyag:</label>
            <select class="dataField input" [(ngModel)]="choosenProduct.anyag" name="anyag">
                <option class="black" *ngFor="let value of props.anyag" [value]="value">{{value}}</option>
            </select>
        </div>
        <div class="col form-group formRow">
            <label for="mintazat" class="white">Mintázat:</label>
            <select class="dataField input" [(ngModel)]="choosenProduct.mintazat" name="mintazat">
                <option class="black" *ngFor="let value of props.mintazat" [value]="value">{{value}}</option>
            </select>
        </div>
        <div class="col form-group formRow">
            <label for="meret" class="white">Méret:</label>
            <select class="dataField input" [(ngModel)]="choosenProduct.meret" name="meret">
                <option class="black" *ngFor="let value of props.meret" [value]="value">{{value}}</option>
            </select>
        </div>
        <div class="col form-group formRow">
            <label for="szin" class="white">Szín:</label>
            <select class="dataField input" [(ngModel)]="choosenProduct.szin" name="szin">
                <option class="black" *ngFor="let value of props.szin" [value]="value">{{value}}</option>
            </select>
        </div>
        <div class="col form-group formRow">
            <label for="szalmagassag" class="white">Szálmagasság:</label>
            <select class="dataField input" [(ngModel)]="choosenProduct.szalmagassag" name="szalmagassag">
                <option class="black" *ngFor="let value of props.szalmagassag" [value]="value">{{value}}</option>
            </select>
        </div>
        <div class="col form-group formRow">
            <label for="vastagsag" class="white">Vastagság:</label>
            <select class="dataField input" [(ngModel)]="choosenProduct.vastagsag" name="vastagsag">
                <option class="black" *ngFor="let value of props.vastagsag" [value]="value">{{value}}</option>
            </select>
        </div>
        <div class="col form-group formRow">
            <label for="stilus" class="white">Stílus:</label>
            <select class="dataField input" [(ngModel)]="choosenProduct.stilus" name="stilus">
                <option class="black" *ngFor="let value of props.stilus" [value]="value">{{value}}</option>
            </select>
        </div>
    </div>
    <div class="col">
        <img *ngIf="choosenProduct.key != 0" [src]="'../../../assets/pictures/' + choosenProduct.key + '.jpg'" class="img-fluid">
    </div>
    
</div>