<h1 id="title">Csomagpont Infó</h1>
<h2 class="textColor">{{ data.name }} - {{data.operator_id}}</h2>
<p class="textColor">{{ data.address }}</p>
<p class="textColor">{{ data.findme }}</p>
<a [href]="'https://www.google.com/maps/place/'+ data.address" target="_blank">
    <button type="button" class="btn" id="mapButton">Mutasd a térképen</button>
</a>
<p class="textColor">Nyitvatartás:</p>
<div class="col-4">
    <ul class="list-group list-group-flush">
        <li *ngFor="let day of days" class="list-group-item bg-transparent" style="color: white;">{{ day }}: {{ data.open[day] }}</li>
    </ul>
</div>
