<h1 class="text-warning border-bottom border-warning">Csomagpont Infó</h1>
<h2>{{ data.name }} - {{data.operator_id}}</h2>
<p>{{ data.address }}</p>
<p>{{ data.findme }}</p>
<a [href]="'https://www.google.com/maps/place/'+ data.address" target="_blank">
    <button type="button" class="btn btn-warning">Mutasd a térképen</button>
</a>
<p>Nyitvatartás:</p>
<div class="col-4">
    <ul class="list-group list-group-flush">
        <li *ngFor="let day of days" class="list-group-item bg-transparent" style="color: white;">{{ day }}: {{ data.open[day] }}</li>
    </ul>
</div>
