#nav {
    background: linear-gradient(24deg, rgba(0,0,139,1) 5%, rgba(33,37,41,1) 45%, rgba(33,37,41,1) 55%, rgba(153,50,204,1) 95%);
    border-bottom: solid 3px;
    border-image: linear-gradient(to right, #1c1f39, darkorchid) 1;
    box-shadow: 0 0 15px #ff0079;
}

li {
    border: #ff0079 solid 2px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 2px;
}

li:hover {
    box-shadow: 0 0 25px #ff0079;
    background-color: #ff007748;
    text-shadow: 0 0 15px #ff0079;
    
}

.nav-link {
    color: white;
    font-weight: bold;
    min-width: 10rem;
    text-align: center;

}