<!-- TODO: az ikonokkal még valamit kezdeni kell -->
<!-- TODO: logo csere -->
<nav class="navbar navbar-expand-lg bg-body-tertiary" id="nav">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home"><img src="../../assets/logo/logo-small-no-background.png" alt="EliteCarpets"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <app-search></app-search>
            <ul class="navbar-nav me-0 mb-5 mb-lg-0 ms-5 col-6">  
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="offcanvas" href="#offcanvasCart" role="button" aria-controls="offcanvasCart">  
                        <p class="prop">
                            <img src="../../assets/icon/shopping_cart_FILL0_wght400_GRAD0_opsz24.svg" alt="kosár">
                            <span class="badge rounded-pill bg-danger">{{totalProduct}}</span>
                            Kosár
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="">
                        <!-- TODO routing beállítása -->
                        <p>
                            <img src="../../assets/icon/person_FILL0_wght400_GRAD0_opsz24.svg" alt="profil">
                            Profil
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/userlogin">
                        <p>
                            <img src="../../assets/icon/login_FILL0_wght400_GRAD0_opsz24.svg" alt="bejelentkezés">
                            Bejelentkezés
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/usersignup">
                        <p>
                            <img src="../../assets/icon/add_circle_FILL0_wght400_GRAD0_opsz24.svg" alt="regisztrálás">
                            Regisztráció
                        </p>
                    </a>
                </li>
                <!-- TODO: state-ek kezelése belépve-kilépve mit látunk -->
            </ul>
        </div>
    </div>
</nav>
<app-cart></app-cart>