<nav class="navbar navbar-expand-lg bg-body-tertiary border border-bttm border-primary" style="background-color: #DDEBF7;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="../../assets/logo/logo-small-no-background.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex col-8 mx-5" role="search">
                <input class="form-control me-2 border-primary" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-primary" type="submit"><img src="../../assets/icon/search_FILL0_wght400_GRAD0_opsz24.svg" alt=""></button>
            </form>
            <ul class="navbar-nav me-0 mb-2 mb-lg-0 ms-5">
                <li class="nav-item">
                    <a class="nav-link" href="">
                        <img src="../../assets/icon/shopping_cart_FILL0_wght400_GRAD0_opsz24.svg" alt="">
                        Kosár
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">
                        <img src="../../assets/icon/person_FILL0_wght400_GRAD0_opsz24.svg" alt="">
                        Profil
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img src="../../assets/icon/login_FILL0_wght400_GRAD0_opsz24.svg" alt="">
                        Bejeletkezés
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img src="../../assets/icon/add_circle_FILL0_wght400_GRAD0_opsz24.svg" alt="">
                        Regisztrálás
                    </a>
                </li>
                <!-- TODO: routing -->
                <!-- TODO: state-ek kezelése belépve-kilépve mit látunk -->
            </ul>
        </div>
    </div>
</nav>