<div class="modal fade" id="aszfModal" tabindex="-1" aria-labelledby="aszfModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="aszfModalLabel">Általános Szerződési Feltételek</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5>1. Bevezetés</h5>
                <p>
                    Jelen Általános Szerződési Feltételek (a továbbiakban: ÁSZF) az EliteCarpets Kft. (a továbbiakban: Szolgáltató) által üzemeltetett EliteCarpets 
                    webáruház weboldalán (a továbbiakban: Webáruház) történő vásárlás feltételeit határozza meg. 
                    A Webáruházban történő vásárlással a Vevő (a továbbiakban: Vevő) magára nézve kötelezőnek fogadja el jelen ÁSZF-et.
                </p>
                <h5>2. A Szolgáltató adatai:</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Név: EliteCarpets Kft.</li>
                    <li class="list-group-item">Székhely: 8609 Siófok, Kárpát utca 57.</li>
                    <li class="list-group-item">Adószám: 12180439-2-41</li>
                    <li class="list-group-item">Cégjegyzékszám: 01-09-562739</li>
                    <li class="list-group-item">Kapcsolattartó: Markó Tamás</li>
                    <li class="list-group-item">E-mail cím: elitecarpetskft@gmail.com</li>
                    <li class="list-group-item">Telefonszám: +36-84-311-317</li>
                </ul>
                <h5>3. A Vevő adatai:</h5>
                <p>
                    A Vevő a Webáruházban történő regisztráció során köteles megadni a következő adatokat: név, szállítási cím, e-mail cím, telefonszám.
                    A Vevő felelőssége, hogy a regisztráció során megadott adatok pontosak és naprakészek legyenek.
                </p>
                <h5>4. A Webáruházban elérhető termékek:</h5>
                <p>
                    A Webáruházban a Szolgáltató a következő termékkategóriát kínálja: szőnyeg. A termékek ára a Webáruházban bruttó áron, magyar forintban (HUF) kerül feltüntetésre.
                    A Szolgáltató fenntartja a jogot az árak változtatására. A Vevő a megrendelés leadásakor az aktuálisan érvényes áron vásárolhatja meg a termékeket.
                </p>
                <h5>5. Rendelés menete:</h5>
                <p>
                    A Vevő a Webáruházban a következő lépésekben rendelhet: A termék kiválasztása után adja meg a mennyiséget és helyezze a kosárba. 
                    A kosár menüpontban ellenőrizheti és módosíthatja a termékeket és azok darabszámát. Ezután a "Tovább a fizetéshez" gombra kattintva ellenőrizze vagy adja meg az adatokat
                    és véglegesítse a fizetést. A Szolgáltató a megrendelés beérkezését követően e-mailben visszaigazolást küld a Vevőnek. A visszaigazoló e-mail tartalmazza a megrendelés adatait, a termék árát, a szállítási díjat és a fizetési módot.
                </p>
                <h5>6. Szállítás:</h5>
                <p>A Szolgáltató a következő szállítási módokat kínálja: Foxposttal történő házhoz szállítás és csomagátvételi pontra történő szállítás. A szállítási díj minden esetben ingyenes.</p>
                <h5>7. Fizetés:</h5>
                <p>A Szolgáltató a következő fizetési módokat kínálja: utánvét, online bankkártyás fizetés (SimplePay)</p>
                <h5>8. Elállási jog:</h5>
                <p>
                    A Vevő a 14/2014. (II. 20.) Korm. rendelet alapján 14 napon belül indoklás nélkül elállhat a vásárlástól. Az elállási jog a termék átvételének napjától számított
                    14 napon belül gyakorolható. A Vevő az elállási jogát írásban, e-mailben vagy postai úton gyakorolhatja.
                </p>
                <h5>9. Panaszkezelés:</h5>
                <p>A Vevő a termékkel vagy a szolgáltatással kapcsolatos panaszát a Szolgáltatóhoz írásban, e-mailben vagy postai úton nyújthatja be. A Szolgáltató a panaszt a beérkezéstől számított 30 napon belül köteles megvizsgálni és írásban válaszolni a Vevőnek.</p>
                <h5>10. Jótállás:</h5>
                <p>A Szolgáltató a termékekre a jogszabályok által előírt jótállást vállal. A jótállási idő a termék átvételének napjától számított 1 év.</p>
                <h5>11. Adatvédelem:</h5>
                <p>A Szolgáltató a Vevőktől gyűjtött adatokat bizalmasan kezeli. A Szolgáltató az adatokat a szerződés teljesítése céljából használja fel. A Vevőnek joga van az adataihoz való hozzáféréshez, azok helyesbítéséhez, törléséhez, valamint az adatkezelés korlátozásához és tiltakozásához.</p>
                <h5>12. Vegyes rendelkezések:</h5>
                <p>Jelen ÁSZF-re a magyar jog az irányadó. A jelen ÁSZF-ben nem szabályozott kérdésekben a magyar jogszabályok, különösen a Polgári Törvénykönyv és a fogyasztóvédelemről szóló 1997. évi CLV. törvény rendelkezései az irányadók.</p>
                <h5>13. Záró rendelkezések:</h5>
                <p>A Szolgáltató jogosult a jelen ÁSZF egyoldalú módosítására. A módosított ÁSZF a Webáruházban történő közzétételt követően lép hatályba. A Vevő a Webáruház használatával elfogadja a módosított ÁSZF-et.</p>
                <h5>14. Hatálybalépés:</h5>
                <p>Jelen ÁSZF 2024. január 04. napján lép hatályba.</p>
                <b>EliteCarpets Kft.</b><br>
                <b>8609 Siófok, Kárpát utca 57.</b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Rendben</button>
            </div>
        </div>
    </div>
</div>
