<div class="input-group" id="selectorContainer">
  <span class="input-group-text" id="selectorText">Milyen adatodra vagy kíváncsi?</span>
  <select class="form-select form-select-sm" id="selector" [(ngModel)]="selectorValue">
    <option class="option-bg" selected [value]=""></option>
    <option [value]="'profildata'">Személyes adatok</option> 
  </select>
</div>

<ng-container *ngIf="selectorValue == ''">
  <div class="alert alert-danger" role="alert" id="alertBox">
      Válassz egyet a lenyíló lehetőségek közül
  </div>
</ng-container>

<ng-container *ngIf="selectorValue == 'profildata'"><app-profil-data></app-profil-data></ng-container>

