#mainContainer {
    --angle: 0deg;
    background-color: #212529;
    border-image: linear-gradient(var(--angle), #212121, #ff0079) 1;
    animation: 3s rotate linear infinite;
    border-left:  2px solid;
    border-right: 2px solid;
    margin-bottom: 3px;
}

@keyframes rotate {
    to {
      --angle: 360deg;
    }
}
  
@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}