<div class="input-group" id="selectorContainer">
    <span class="input-group-text" id="selectorText">Melyik táblában szeretnél dolgozni?</span>
    <select class="form-select form-select-sm" id="selector" [ngModel]="selectorValue" (ngModelChange)="setSelectorValue($event)">
      <option class="option-bg" selected [ngValue]=""></option>
      <option [ngValue]="'users'">Felhasználók</option>
      <option [ngValue]="'products'">Termékek</option>
      <option [ngValue]="'orders'">Rendelések</option>
      <option [ngValue]="'ratings'">Vélemények</option>
    </select>
</div>
<ng-container *ngIf="selectorValue == ''">
    <div class="alert alert-danger" role="alert" id="alertBox">
        Válassz egyet a lehetőségek közül
    </div>
</ng-container>
<ng-container *ngIf="selectorValue == 'users'"><app-user-list></app-user-list></ng-container>
<ng-container *ngIf="selectorValue == 'products'"><app-product-list></app-product-list></ng-container>
<ng-container *ngIf="selectorValue == 'orders'"><app-order-list></app-order-list></ng-container>
<ng-container *ngIf="selectorValue == 'ratings'"><app-rating-list></app-rating-list></ng-container>

<!-- TODO: a servicekben ki kell építeni a megfelelő funkciókat -->