<div class="row dataContainer" id="header">
    <div class="row">
        <div class="row">
            <h5 class=" fw-bold title">Megrendeléseid</h5>
            <div *ngFor="let order of myOrders" class="row dataRow">
                <p>
                    <input type="text" disabled class="col datafield" [value]="order.key">
                     - Összesen: {{order.qty}}db {{order.total}} Ft - 
                    <a class="btn btn-secondary ms-2" data-bs-toggle="collapse" [href]="'#collapse' + order.key" role="button" aria-expanded="false">Részletek</a>
                </p>
                <div class="collapse mb-2" [id]="'collapse' + order.key">
                    <div class="card card-body">
                      <div class="row">
                        <p><strong>Számlázási adatok:</strong> {{order.consignee}}, {{order.taxnumber=="" ?  "" : order.taxnumber  + " "}}{{order.zipcode}} {{order.city}} {{order.address}} </p>
                      </div>
                      <div class="row">
                        <p><strong>Szállítási adatok:</strong> {{order.packetPoint ? "Foxpost csomagpont: " : ""}}{{order.deliveryZipcode}} {{order.deliveryCity}} {{order.deliveryAddress}} </p>
                      </div>
                      <div class="row">
                        <p><strong>A megrendelés státusza:</strong> {{order.status}}</p>
                      </div>
                      <div class="row">
                        <strong>Termékek:</strong>
                        <div *ngFor="let prod of order.products" class="row ms-5">
                            {{prod.name}} {{prod.qty}}db {{prod.price*prod.qty}} Ft
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
