<div class="row dataContainer" id="header">
    <div class="row">
        <div class="row">
            <h5 class=" fw-bold title">Megrendeléseid</h5>
            <div *ngFor="let order of myOrders" class="row dataRow">
                <input type="text" disabled class="col datafield" [value]="order.key">
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Link with href
                </a>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                      Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
