<div class="row headerRow">
    <input [(ngModel)]="searchArgs" type="text" placeholder="Írd be a felhasználó azonosítóját">
</div>
<div class="row headerRow">
    <a (click)="scrollToBottom()" class="likeAButton" id="topScroll">Le a Frissekhez</a>
</div>
<div class="row dataContainer">
    <div>
        <div class="row dataRow" *ngFor="let userData of usersArray |key:searchArgs">
        <div class="row mb-1">
            <input disabled class="col dataField" type="text" [value]="userData.key" title="User ID">
            <input disable class="col dataField input" type="text" [value]="userData.email" title="Email">
            <input class="col dataField input" type="text" [(ngModel)]="userData.name" title="Név">
        <div></div>
        <div class="row mb-1">
            <input class="col-3 dataField input" type="text" [(ngModel)]="userData.phone">
            <input class="col-2 dataField input" type="text" [(ngModel)]="userData.zipCode">
            <input class="col-3 dataField input" type="text" [(ngModel)]="userData.city">
            <input class="col-3 dataField input" type="text" [(ngModel)]="userData.address">
        </div> 
        </div>
        <div class="row mb-1">
            <button class="modifyButton" id="modifyButton" (click)="modifyUser(userData, userData.key)">Módosítás</button>
            <button class="modifyButton" id="deleteButton" (click)="deleteUser(userData)">Törlés</button>
        </div>
    </div>
    <div id="bottom" class="pb-5">
        <a (click)="scrollToTop()" class="likeAButton">Az oldal tetejére</a>
    </div>
</div>
