<div class="container-fluid">
    <div class="row p-4">
        <div class="col"></div>
        <div class="col-5">
            <div class="card shadow">
                <div class="card-body" id="verify">
                    <form>
                        <div class="text-center" id="text">
                            <p> A linket elküldtük a megadott e-mail címre, kérjük ellenőrizze majd jelentkezzen be</p> 
                        </div> 
  
                        <div class="text-center p-2">
                            <a routerLink="/signin" style="color: #2F75B5">Belépés</a>
                        </div>
                      </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
  </div>