<div class="row dataContainer" id="header">
    <div class="row">
        <div class="row">
            <h5 class=" fw-bold title">Értékeléseid</h5>
            <div *ngFor="let rating of myRatings" class="row dataRow pb-2 mb-2">
                <div class="input-group input-group-sm mt-3">
                    <input class="form-control mx-2 dataField" id="name" type="text" aria-label="Megjelentett név" [(ngModel)]="rating.nickname">
                    <input disabled class="form-control mx-2 dataField" id="time" type="text" aria-label="Értékelés időpontja" [(ngModel)]="rating.time">
                    <span class="input-group-text dataField" id="score"><img hidden="(max-width: 768px)" src="../../../../assets/icon/grade_black_24dp.svg" alt="" class="img-fluid input"> 5/</span>
                    <input type="number" class="form-control-sm me-2 dataField" id="userRating" aria-describedby="userRatingText" min="1" max="5" [(ngModel)]="rating.rating">
                </div>
                <div class="input-group input-group-sm mt-3 ms-2">
                    <textarea class="form-control input dataField" id="ratingTextArea" aria-label="With textarea" placeholder="Véleménye fontos a számunkra, ossza meg velünk!" [(ngModel)]="rating.text"></textarea>
                </div>
                <div class="row">
                    <button class="myButton" (click)="modify(rating)">Módosítás</button>
                    <button class="myButton" (click)="delRating(rating.key)">Törlés</button>
                </div>
            </div>
        </div>
    </div>
</div>
