<ng-container *ngIf="products2 && !showError; else error">
  {{showedProducts|json}}
  <div class="row">
    <div class="col-2 text-center border-end border-primary">
      <ul class="list-group">
        <li *ngFor="let cat of categories; let i=index" class="list-group-item list-group-item-primary list-group-item-action"
          [ngClass]="i==activeCategory? 'active': ''"  (click)="changeActiveCategory(i)">{{cat}}</li>
      </ul>
    </div>
    <div class="col-10">
      <div class="row">
          <div class="d-flex flex-row">
              <select *ngFor="let item of szurok" class="form-select form-select-sm" style="background-color: #a1ccf1;">
                  <option selected>{{item.name}}</option>
                  <option *ngFor="let option of item.options" [value]="option">{{option}}</option>
              </select>
          </div>
      </div>
      <div class="row justify-content-evenly">
          <div *ngFor="let prod of products" class="card m-4 pt-4" style="width: 18rem; background-color: #DDEBF7; border-color: #2F75B5;">
              <img [src]="'../../assets/pictures/'+prod.termek_id+'.jpg'" class="card-img-top" alt="termékkép" style="max-height: 200px;" routerLink="/product" [queryParams]="prod">
              <div class="card-body" style="background-color: #2F75B5; border-bottom-left-radius: 10%; border-bottom-right-radius: 10%;" routerLink="/product" [queryParams]="prod">
                <h3 class="card-title" style="color: #DDEBF7;">{{prod.nev}}</h3>
                <p class="card-header fw-bold fs-3 text-light">{{prod.uj_ar}} Ft</p>
                <ul class="list-group list-group-flush rounded">
                  <li class="list-group-item" style="background-color: #DDEBF7; color: #2F75B5; font-weight: 600; font-style: italic;">Szín: {{prod.szin}}</li>
                  <li class="list-group-item" style="background-color: #DDEBF7; color: #2F75B5; font-weight: 600; font-style: italic;">Méret: {{prod.meret}}</li>
                  <li class="list-group-item" style="background-color: #DDEBF7; color: #2F75B5; font-weight: 600; font-style: italic;">Szálmagasság: {{prod.szalmagassag}}</li>
                </ul>
              </div>
  
              <div class="card-body row">
                <button type="button" class="col btn" style="background-color: #2F75B5; color: white; font-weight: bold;">Kosárba</button>
              </div>
            </div>
      </div>
    </div>
  </div>
  <!-- TODO szürők összekötése a listával -->
<!-- TODO rendezés elkészítése -->
<!-- TODO lapozás funkció -->
</ng-container>
<ng-template #error>
  <div class="alert alert-danger" role="alert">
    Az adatbázisunk jelenleg nem elérhető. Látogasson vissza később!
</div>
</ng-template>
