<div class="row my-3 justify-content-around">
    <div class="col-4">
        <img [src]="'../../assets/pictures/'+product.termek_id+'.jpg'" alt="termékkép">
    </div>
    <div class="col-4">
        <h1 class="fw-bold" style="color: #2F75B5;">{{product.nev}}</h1>
        <h3>{{categories[product.kategoria_id]}}</h3>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Anyaga: {{product.anyag}}</li>
            <li class="list-group-item">Mintázat: {{product.mintazat}}</li>
            <li class="list-group-item">Mérete: {{product.meret}}</li>
            <li class="list-group-item">Színe: {{product.szin}}</li>
            <li class="list-group-item">Szálmagasság: {{product.szalmagassag}}</li>
            <li class="list-group-item">Vastagság: {{product.vastagsag}}</li>
            <li class="list-group-item">Stílus: {{product.stilus}}</li>
        </ul>

        <h1 class="fw-bold text-danger">{{product.uj_ar}} Ft</h1>
        <button type="button" class="btn btn-danger btn-lg">Kosárba</button>
    </div>
</div>
