#imgContainer {
  border: 1px solid darkorchid;
  box-shadow: 0 0 40px darkorchid;
  margin-right: 10%;
    
}

#img {
    max-height: 300px;
    max-width: 300px;
    min-width: 100%;
    padding: 0%;
}

#productModal {
    color: white;
}

#modalContent {
    --angle: 0deg;
    background-color: rgba(33,37,41,1);
    border: 5px solid;
    border-image: linear-gradient(var(--angle), darkblue, darkorchid) 1;
    animation: 3s rotate linear infinite;
    box-shadow: 10px -5px 25px darkorchid, -10px 5px 25px darkblue;
}

.myModalTitle {
    color: #ff0079;
    border-bottom: 3px solid #ff0079;
    padding-left: 10%;
}

.myBadge {
    border: 1px solid darkorchid;
    box-shadow: 0 0 15px darkorchid;
}

.myModalBody {
    border-bottom: 1px solid #ff0079;
    padding-left: 10%;
    padding-bottom: 5%;
}

.myModalListItem {
    color: white;
    background-color:rgba(153, 50, 204, 0.322);
    border: none;
    border-bottom: 2px solid darkorchid;
}

#priceText {
  color: #ff0079;
  font-weight: bold;
  text-align: end;
}

#toCartButton {
  background: transparent;
  font-weight: bold;
  color: white;
  border: 2px solid #ff0079;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
}

#toCartButton:hover{
  box-shadow: 0 0 20px #ff0077d0;
  text-shadow: 10px 10px 50px #ff0079;  
}

#backButtonTop:hover {
  box-shadow: 0 0 20px darkorchid;
  text-shadow: 10px 10px 50px white;
}

#backButtonBottom:hover {
  box-shadow: 0 0 20px darkorchid;
  text-shadow: 10px 10px 50px white;
}

.backButtons {
    background: transparent;
    font-weight: bold;
    color: darkorchid;
    border: 1px solid darkorchid;
}

#ratingSubmitButton {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0.75rem;
  background: transparent;
  font-weight: bold;
  color: white;
  border: 2px solid darkblue;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  max-width: 100px;
  min-width: 100px;
}

#ratingSubmitButton:hover{
  box-shadow: 0 0 20px darkblue;
  text-shadow: 10px 10px 50px darkblue;  
}

#ratingsContainer {
  padding-left: 10%;
}

#ratingsTitle {
  color: #ff0079;
}

.ratingInputContainer {
  border: 1px solid darkorchid;
  margin-top: 1%;
  background-color: rgba(153, 50, 204, 0.151);
  margin-bottom: 2%;
}

#usernameField {
    max-width: 25%;
    min-width: 25%;
    margin-right: 5%;
    background: transparent;
    border: 1px solid darkorchid;
    color: white;
}

#ratingTextArea {
    background: transparent;
    border: 1px solid darkorchid;
    color: white;
}

#ratingTextArea::placeholder {
  color: white;
  font-style: italic;
  font-size: 1rem;
}

#userRatingText {
    max-width: 6%;
    min-width: 6%;
    background: transparent;
    border: 1px solid darkorchid;
    color: white;
}

#ratingTextLabel {
    max-width: 10%;
    min-width: 10%;
    background: transparent;
    border: 1px solid darkorchid;
    color: white;
    text-wrap: wrap;
}

#userRating {
    max-width: 6%;
    min-width: 6%;
    background: transparent;
    border: 1px solid darkorchid;
    color: white;
}

.myRatings {
    border-bottom: 1px solid darkorchid;
    margin-left: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: -5px 5px 5px darkorchid;
    max-width: 95%;
}

strong {
    margin: 0 5%;
}

.modal-footer {
  border: none;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@media only screen and (min-width: 768px) {
    #propsContainer {
      padding-right: 25%;
    }
}

@media only screen and (max-width: 768px) {
    #userRating {
        max-width: 10%;
        min-width: 10%;
    }

    #userRatingText {
      max-width: 10%;
      min-width: 10%;
  }
}