<div class="container-fluid">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-5">
            <div class="card shadow">
                <div class="card-body">
                    <form>
                        <div class="text-center mb-5">
                            <div class="h1 fw-bold" style="color:#2F75B5">Elfelejtett jelszó</div>
                        </div>

                        <p> Kérjük adja meg e-mail címét!</p>
  
                        <div class="form-outline mb-3 ">
                          <label for="exampleInputEmail" class="form-label">E-mail cím</label>
                          <input type="email" class="form-control" style="background-color:#DDEBF7" name="email" [(ngModel)]="email">
                        </div>
  
                        <div class="text-center p-4">
                        <button type="button" class="btn btn-info btn-lg btn-block" style="color: white" (click)="sendlink()">Küldés</button>
                        </div>
  
                        <div class="row">
                            <div class="text-center small p-3" style="color: grey">
                                <a style="color:  #2F75B5" routerLink="/userlogin">Vissza a belépéshez</a>
                            </div>
                        </div>
                      </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
  </div>
