#searchContainer{
  margin-left: 2rem;
  margin-right: 2rem;
}

#searchContainer:hover{
  #searchField, #searchGroupText{
    box-shadow: 0 0 10px #ff0079;
    background-color: #ff007748;
  }
}

#searchField {
  background: transparent;
  color: white;
  border: #ff0079 solid 2px;
}

#searchField::placeholder{
  color: white;
  font-weight: bold;
}

#searchGroupText{
  background: transparent;
  border: #ff0079 solid 2px;
}