<div class="row headerRow">
    <input [(ngModel)]="searchArgs" type="text" placeholder="Írd be a rendelés azonosítót">
</div>
<div class="row dataContainer">
    <div class="row dataRow" *ngFor="let order of ordersArray|key:searchArgs">
        <div class="row mb-1">
            <input disabled class="col dataField" type="text" [value]="order.key" title="Megrendelés ID">
            <input disabled class="col dataField" type="text" [value]="order.email" title="Felhasználó email">
            <input disabled class="col dataField" type="text" [value]="order.datetime">
            <input class="col dataField input" type="text" [(ngModel)]="order.phone" title="Telefonszám">
        </div>
        <div class="row mb-1">
            <h5 class="col">Címzett</h5>
            <input class="col dataField input" type="text" [(ngModel)]="order.consignee">
            <input *ngIf="order.taxnumber != '' " class="col dataField input" type="text" [(ngModel)]="order.taxnumber">
            <input *ngIf="order.taxnumber == '' " disabled class="col dataField" type="text" [value]="'Magánszemély'">
            <div class="col">
                <input disabled type="checkbox" [value]="order.packetPoint" [checked]="order.packetPoint">
                <span class="ps-1">Csomagpontos</span>
            </div>
        </div>
        <div class="row mb-1">
            <input class="col-1 dataField input" type="text" [(ngModel)]="order.zipcode">
            <input class="col-3 dataField input" type="text" [(ngModel)]="order.city">
            <input class="col dataField input" type="text" [(ngModel)]="order.address">
        </div>
        <div class="row mb-1">
            <h5 class="col-2">Szállítási adatok</h5>
            <input class="col-1 dataField input" type="text" [(ngModel)]="order.deliveryZipcode">
            <input class="col-3 dataField input" type="text" [(ngModel)]="order.deliveryCity">
            <input class="col dataField input" type="text" [(ngModel)]="order.deliveryAddress">
        </div>
        <div class="row mb-1">
            <h5 class="col-2">Fizetési adatok</h5>
            <input *ngIf="order.payment == 'before'" disabled class="col-2 dataField" type="text" [value]="'Online fizetés'">
            <input *ngIf="order.payment == 'after'" disabled class="col-1 dataField" type="text" [value]="'Utánvét'">
            <input disabled class="col-2 dataField" type="text" [value]="order.total + ' Ft'">
            <div class="col">
                <select class="form-select dataField input" aria-label="Rendelési status" [(ngModel)]="order.status">
                    <option *ngFor="let value of status" class="black" [value]="value">{{value}}</option>
                </select>
            </div>
        </div>
        <div class="row mb-1">
            <button (click)="modifyOrder(order)" class="myButton" id="modifyButton">Módosítás</button>
            <button (click)="deleteOrder(order.key)" class="myButton" id="deleteButton">Törlés</button>
        </div>
    </div>
</div>
