<div *ngIf="!user.email" class="alert alert-danger" role="alert" id="alertBox">
    Előbb jelentkezz be!
</div>
<div *ngIf="user.email" class="checkoutContainer row">
    <div class="col-8 checkoutCol">
        <div class="sectionContainer">
            <h1 class="sectionHeader">Számlázási adatok:</h1>
            <div class="form-check textWhite">
                <input class="formCheck" type="radio" name="presonOrCompany" id="personcheck" value="person" [(ngModel)]="entity">
                <label class="form-check-label" for="personcheck">Magánszemély</label>
            </div>
            <div class="form-check textWhite">
                <input class="formCheck" type="radio" name="presonOrCompany" id="companycheck" value="company" [(ngModel)]="entity">
                <label class="form-check-label" for="companycheck">Szervezet</label>
            </div>
            <ng-container *ngIf="entity=='person'; else company">
                <div class="row">
                    <div class="mb-3 col-4">
                        <label for="nameInput" class="form-label textWhite">Név:</label>
                        <input type="text" class="form-control formInputField" id="nameInput" [(ngModel)]="this.user.name">
                    </div>
                    <div class="mb-3 col-4">
                        <label for="phoneInput" class="form-label textWhite">Telefonszám:</label>
                        <input type="tel" [(ngModel)]="this.user.phone" class="form-control formInputField" id="phoneInput" aria-describedby="phoneHelp">
                        <div id="phoneHelp" class="form-text textWhite">Így add meg: 06301234567</div>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 col-2">
                        <label for="zipInput" class="form-label textWhite">Irányítószám:</label>
                        <input type="text" [(ngModel)]="this.user.zipCode" class="form-control formInputField" id="zipInput">
                    </div>
                    <div class="mb-3 col-4">
                        <label for="cityInput" class="form-label textWhite">Város:</label>
                        <input type="text" [(ngModel)]="this.user.city" class="form-control formInputField" id="cityInput">
                    </div>
                    <div class="mb-3 col-6">
                        <label for="addressInput" class="form-label textWhite">Utca, házszám:</label>
                        <input type="text" [(ngModel)]="this.user.address" class="form-control formInputField" id="addressInput">
                    </div>
                </div>
            </ng-container>
            <ng-template #company>
                <div class="row">
                    <div class="mb-3 col-4">
                        <label for="nameInput" class="form-label textWhite">Szervezet neve:</label>
                        <input type="text" [(ngModel)]="this.user.name" class="form-control formInputField" id="delinameInput">
                    </div>
                    <div class="mb-3 col-4">
                        <label for="taxNoInput" class="form-label textWhite">Adószám:</label>
                        <input type="text" [(ngModel)]="data.taxnumber" class="form-control formInputField" id="taxNoInput">
                    </div>
                    <div class="mb-3 col-4">
                        <label for="phoneInput" class="form-label textWhite">Telefonszám:</label>
                        <input type="tel" [(ngModel)]="this.user.phone" class="form-control formInputField" id="phoneInput"aria-describedby="phoneHelp">
                        <div id="phoneHelp" class="form-text textWhite">Így add meg: 06301234567</div>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 col-2">
                        <label for="zipInput" class="form-label textWhite">Irányítószám:</label>
                        <input type="text" [(ngModel)]="this.user.zipCode" class="form-control formInputField" id="zipInput">
                    </div>
                    <div class="mb-3 col-4">
                        <label for="cityInput" class="form-label textWhite">Város:</label>
                        <input type="text" [(ngModel)]="this.user.city" class="form-control formInputField" id="cityInput">
                    </div>
                    <div class="mb-3 col-6">
                        <label for="addressInput" class="form-label textWhite">Utca, házszám:</label>
                        <input type="text" [(ngModel)]="this.user.address" class="form-control formInputField" id="addressInput">
                    </div>
                </div>
            </ng-template>
        </div>
        <div class="sectionContainer">
            <h1 class="sectionHeader">Szállítási cím:</h1>
            <div class="form-check">
                <input class="formCheck" type="radio" name="homeOrPacketPoint" id="homeDelivery" value="home" [(ngModel)]="deliveryOpt">
                <label class="form-check-label textWhite" for="homeDelivery">Házhozszállítás</label>
            </div>
            <div class="form-check mb-3">
                <input class="formCheck" type="radio" name="homeOrPacketPoint" id="packetPointDelivery" value="packetpoint" [(ngModel)]="deliveryOpt">
                <label class="form-check-label textWhite" for="packetPointDelivery">Foxpost csomagátvételi pont</label>
            </div>
            <ng-container *ngIf="deliveryOpt=='home'; else packetpoint">
                <div class="form-check">
                    <input class="formCheck" type="checkbox" [(ngModel)]="sameAddress" id="sameAddress">
                    <label class="form-check-label textWhite" for="sameAddress">A szálltási cím megegyezik a számlázási címmel</label>
                </div>
                <div *ngIf="!sameAddress" class="row">
                    <div class="mb-3 col-2">
                        <label for="delyZipInput" class="form-label textWhite">Irányítószám:</label>
                        <input type="text" [(ngModel)]="data.deliveryZipcode" class="form-control formInputField" id="delyZipInput">
                    </div>
                    <div class="mb-3 col-4">
                        <label for="delyCityInput" class="form-label textWhite">Város:</label>
                        <input type="text" [(ngModel)]="data.deliveryCity" class="form-control formInputField" id="delyCityInput">
                    </div>
                    <div class="mb-3 col-6">
                        <label for="delyAddressInput" class="form-label textWhite">Utca, házszám:</label>
                        <input type="text" [(ngModel)]="data.deliveryAddress" class="form-control formInputField" id="delyAddressInput">
                    </div>
                </div>
            </ng-container>
            <ng-template #packetpoint>
                <ng-container *ngIf="errorShow; else errorNotShow">
                    <div class="alert alert-danger" role="alert">
                        {{errorMsg}}
                    </div>
                </ng-container>
                <ng-template #errorNotShow>
                    <h3>Válaszd ki a kézbesítés helyét a listából:</h3>
                    <div class="row justify-content-around">
                        <div class="col-4 textWhite">
                            <h5>Válassz települést:</h5>
                            <select class="form-select formInputField" id="packetPointSelection" [ngModel]="selectedPacketPointCity" (ngModelChange)="selectPacketPointCity($event)">
                                <option *ngFor="let city of cities" [ngValue]="city">{{city}}</option>
                            </select>
                            <h5>Válassz csomagpontot:</h5>
                            <select class="form-select formInputField mb-3" id="packetPointSelection" [ngModel]="selectedPacketPoint" (ngModelChange)="selectPacketPoint($event)">
                                <ng-container *ngFor="let packetpoint of packetPointList">
                                    <option *ngIf="packetpoint.group == selectedPacketPointCity" [ngValue]="packetpoint">{{packetpoint.name}}</option>
                                </ng-container>
                            </select>
                        </div>
                        <div *ngIf="selectedPacketPoint" class="col-6 mb-5" id="packetPointContainer">
                            <app-packet-point-info [data]="selectedPacketPoint"></app-packet-point-info>
                        </div>
                    </div>
                </ng-template>
            </ng-template>
        </div>
        <div class="sectionContainer">
            <h1 class="sectionHeader">Fizetési mód kiválasztása:</h1>
            <div class="form-check">
                <input class="formCheck" type="radio" name="paying" id="afterDeliveryPay" value="after" [(ngModel)]="paymentOpt">
                <label class="form-check-label textWhite" for="afterDeliveryPay">Utánvét</label>
            </div>
            <div class="form-check pb-5">
                <input class="formCheck" type="radio" name="paying" id="beforeDeliveryPay" value="before" [(ngModel)]="paymentOpt">
                <label class="form-check-label textWhite" for="beforeDeliveryPay">Átutalás</label>
            </div>
            <div class="form-check">
                <input class="formCheck" type="checkbox" [(ngModel)]="termsValue" id="flexCheckDefault">
                <label class="form-check-label textWhite" for="flexCheckDefault">
                  Kijelentem, hogy az <a class="link-underline link-underline-opacity-0 myLink" href="" data-bs-toggle="modal" data-bs-target="#aszfModal">ÁSZF</a> tartalmát megismertem és elfogadom.
                </label>
            </div>
            <button type="button" class="btn" id="orderButton" [disabled]="totalQty == 0 || !user.email" (click)="orderProducts()">Megrendelés</button>
        </div>
    </div>
    <div [hidden]="totalQty == 0" class="cartCol col-4">
        <h5 class="sectionHeader">A kosarad tartalma:</h5>
        <div class="row text-center" id="listHeaderContainer">
            <div class="col-3"><h6>Termék</h6></div>
            <div class="col-3"><h6>Egységár</h6></div>
            <div class="col-2"><h6>DB</h6></div>
            <div class="col-3"><h6>Össz.</h6></div>
        </div>
        <div *ngFor="let product of cart" class="row py-2 text-center align-items-center productRow">
            <div class="row">
                <div class="row">
                    <div class="col-2"><img [src]="'../../assets/pictures/'+product.key+'.jpg'" class="img-fluid" alt="termékkép"></div>
                    <div class="col-3"><h6>{{product.name}}</h6></div>
                </div>
                <div class="row ">
                    <div class="col-7 text-end"><h6>{{product.price}} Ft</h6></div>
                    <div class="col-1 text-end"><h6>{{product.qty}}</h6></div>
                    <div class="col-4 text-end"><h6>{{product.qty*product.price}} Ft</h6></div>
                </div>
            </div>
        </div>
        <div class="row border-top border-dark border-2 py-3">
            <div><h6>Darabszám: {{totalQty}}</h6></div>
            <div><h6>Összesen: {{total}} Ft</h6></div>
        </div>
    </div>
</div>